.alert__box {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-radius: 12px;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.02em;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }

  &.error {
    background: var(--error-50);
    color: var(--error-700);
  }

  &.warning {
    background: var(--warning-50);
    color: var(--warning);
  }

  &.info {
    color: var(--gray-500);
    background-color: var(--primary-25);
  }

  code {
    background: #dadee5;
    padding: 2px 5px;
    border-radius: 3px
  }
}