@import 'variables';

$aligns: (
  'left': left,
  'right': right,
  'center': center,
);

@each $name, $glyph in $aligns {
  .text-#{$name} {
    text-align: $glyph;
  }
}

$weights: (
  'light': 300,
  'regular': 400,
  'medium': 500,
  'bold': 600,
  'extra-bold': 700
);

@each $name, $glyph in $weights {
  .font-weight-#{$name} {
    font-weight: $glyph;
  }
}
.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}
.text-underline {
  text-decoration: underline;
}
.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-nowrap {
  text-wrap: nowrap;
}

.text-center {
  text-align: center;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 150%;
}

p {
  font-size: 14px;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.3;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  color: var(--gray-700);
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.36px;
}

h5 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.32px;
  line-height: 19px;
}

h6 {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.24px;
  color: var(--gray-500);
}

.text-caption {
  font-size: 10px;
  line-height: 1.5;
}
